img{
    width: 100vw;
}

/* .row {
    margin-top: 10px;
}

.valign-wrapper {
    height: 100%;
}

@media (min-width: 600px) {
    img {
        height: 90vh;
    }

    #left-col {
        height: 90vh;
    }
}

@media (max-width: 600px) {
    img {
        width: 100vw;
    }
} */