.recipe {
    width: 70vw;
    margin: 10px;
    text-align: center;
}

.recipe button{
    padding: 0;
    margin: 0; 
    border: none;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.recipe-image{
    width: 20vw;
}

#root {
    width: 100%;
    align-items: center;
    justify-content: center;
}

@media (min-width: 600px) {
    #root {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .recipe {
        width: 20vw;
        /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
        /* border-radius: 20px; */
        transition: 0.5s ease-in-out;
    }
    .recipe-image{
        width: 20vw;
        /* border-radius: 20px 20px 0px 0px; */
    }
    
    .recipe:hover{
        transform: scale(1.1);
    }

    .recipe button{
        width: 20vw;
        /* border-radius: 20px; */
        cursor: pointer;
    }
    .recipe p{
        padding-bottom: 5px;
    }

}

@media (max-width: 600px){
    .recipe button{
        display: flex; 
        width: auto;
        width: 100vw;
    }

    .recipe-label{
        margin: 5px;
        font-size: 20px;
        text-align: center;
    }
}